{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",

    "SQL_SERVER": "hytteportal.database.windows.net",
    "SQL_DATABASE": "hytteportal",
    "SQL_USER": "hytteadmin",
    "SQL_PASSWORD": "",
    "SQL_TRUST_CERT": "false",

    "BLOB_CONNECTION_STRING": "",
    "BLOB_CONTAINER": "hyttebok",

    "ADMIN_EMAIL": "din-epost@example.com",
    "ADMIN_NAME": "Ditt Navn",

    "TENANT_ID": "",
    "GRAPH_CLIENT_ID": "",
    "GRAPH_CLIENT_SECRET": "",
    "MAIL_SENDER": "hytteportal@dittdomene.no",
    "MAIL_FROM_NAME": "Hytteportal"
  },
  "Host": {
    "CORS": "*",
    "CORSCredentials": false
  }
}
